<div class="container">
	<h3>About the Consortium</h3>
	<div class="col-sm-9">
		<p>The Rerum Consortium provides Digital Humanities software solutions for increased interoperability and access. Rerum tools and services are designed to ensure free and open sharing of data. Central to Rerum are OAC and IIIF as models for living digital objects for data interchange. The Rerum architecture facilitates the useful development of specific tools and interfaces without requiring scholars to have deep control over the underlying format.</p>

		<p>The Rerum Consortium coordinates groups of developers and scholars to adapt or create durable and standards-compliant solutions for academic research. We support and develop interfaces that make technology usable and understandable to a wide range of users and automates tasks such as markup and annotation to meet the interoperable promise of digital object standards. By offering web-based services and flexible APIs, we further encourage others to extend our work through focused interfaces for specific projects and exhibits.</p>
	</div>
	<div class="col-sm-3 card">
		<div class="card-block">
		<h4>Join Us</h4>
	</div>
		<p>
			As we are just now laying the groundwork for this consortium, feel free to join the <a target="_blank" href="https://groups.google.com/forum/#!forum/rerum-general">Discussion<i class="fa fa-external-link"></i></a> or 
			<a href="mailto:digitalhumanities@slu.edu">send an email <i class="fa fa-envelope"></i></a> to request a conversation with some of our team to explore how you may contribute.
		</p>
	</div>
</div>