<div class="clearfix container">
    <h1>Annotation</h1>
    <div class="col-md-9 col-sm-12">
        <p>
            Annotations are the red blood cells of the academic conversation, bringing
            attention to those resources that are interesting, described, and about which
            much has been asserted. There should be no boundaries in their generation,
            encoding, or storage.
        </p>
        <h2 id="ga">Generating Annotations</h2>
        <p>
            <span class="lead">Designers make tools for scholars.</span> A programmer
            will transform user inputs into encoded data, but when a scholar is
            asked to wear a programmer hat to understand a <abbr title="Digital Humanities">DH</abbr>
            tool, she is dissuaded from thinking like herself. The design of
            an interface for each task may reuse logical modules, but design moves it
            from <em>usable</em> to <em>useful</em>.
        </p>
        <p>
            The best tools will make important interface choices for the user, rendering
            views that respect the motivation of the annotation and the intelligence of
            the user. In creating a tool for annotation, there are considerations of
            function, intention, accessibility, and attribution.
        </p>
        <p>
            <span class="lead">Not all annotations are <code>annotations</code>.</span> A scholar
            who will easily recognize a comment or edit as an annotation may not
            describe a transcription or metadata in the same way. Almost certainly
            the word "annotation" is inappropriate in the interface for a
            <code>oa:FragmentSelector</code>. The designer must be careful to suppress
            problematic terms for the user without concealing their existence.
        </p>
        <p>
            <span class="lead">Not everything is important.</span> Respect the scope of
            the tool you are creating when determining what to allow. A text annotation
            tool does not need to expose image annotations or irrelevant aggregations,
            even if it retrieves them from the graph. In some cases, new annotations
            may be limited to few types, even while editing existing annotations may
            not be as limited. While every annotation should record its provenance,
            it is unreasonable to visibly cite every string on screen.
        </p>
        <p>
            <a class="btn btn-secondary" href="">Annotation project gallery</a>
        <a class="btn btn-secondary" href="">Visit the Cookbook</a>
        </p>
        <h2 id="ea">Encoding Annotations</h2>
        <p>
            <span class="lead">First, do no harm.</span> Unencoded data runs the risk
            of isolating itself, but poorly encoded data loose in the wild can contaminate
            large datasets and degrade confidence in the hosting institution. Please
            recognize that the data model encoding the content of a resource is a separate
            concern from the encoding format and model for storing data. This consortium
            expects text-based annotations to be deliverable as JSON-LD, but recognizes
            that other text formats, such as TTL and XML are often used.
        </p>
        <h2 id="sa">Storing Annotations</h2>
        <p>
            <span class="lead">Finders, keepers.</span> Anyone who wants to can host
            open data. The beauty of it is that because each annotation is attributed
            individually, there are very few concerns (aside from vandalism) for mirroring
            unreliable stores or offering a broad service. While it may be simplest to
            use the <a href="#rerumStore">RERUM store</a>, it will not fit every project.
        </p>
    </div>
    <div class="col-md-3 col-sm-12">
        <h5>About Annotations</h5>
        <a href="#ga" class="btn-block" du-smooth-scroll>Generating</a>
        <a href="#ea" class="btn-block" du-smooth-scroll>Encoding</a>
        <a href="#sa" class="btn-block" du-smooth-scroll>Storing</a>
        <h5>Recent Conversations</h5>
        <ul>
            <li>recent posts</li>
            <li>recent posts</li>
            <li>recent posts</li>
        </ul>
    </div>
</div>