<div class=container>
<p>
We are holding our first meeting in June at the 
<a href="http://smrs.slu.edu/" target="_blank">CMRS Symposium at Saint Louis University</a>
and you are all invited!
</p>
<p>
You do not need to register for the conference to attend the RERUM sessions.
</p>
<p>
We are holding two sessions:
<div class="card">
<div class="card-block">
<h4 class="card-title">WEDNESDAY, JUNE 22, 2016</h4>
<div class="card-text">
<em>10:45am - 12:15pm</em>

<p class="help-block">Round Table</p>

<strong class="text-center">RERUM.IO  Global Collaboration on interoperable standards for Digital Humanities Tools</strong>


<p>Established in late 2014, RERUM, the open, public annotation store hosted at Saint Louis University, has seen usage increase rapidly among annotations of objects compliant with the International Image Interoperability Format (IIIF) standard. RERUM now seeks to extend the usefulness of annotation standards by applying the same diligence IIIF applied to the description of digital images to other digital resources—initially text, but including music, audio, video, and 3D resources—developing standard data models and tools with which to manipulate them.</p>
</div>
</div>
<div class="card">
<div class="card-block">
<h4 class="card-title">WEDNESDAY, JUNE 22, 2016</h4>
<div class="card-text">
<em>1:00am - 2:00pm</em>

<p class="help-block">Work Group</p>

<strong class="text-center">RERUM.IO Global Collaboration on interoperable standards for Digital Humanities Tools</strong>

<p>Open session on technical issues.</p>
</div>
</div>
</p>
<a href="http://smrs.slu.edu" target="_blank">
<img src="http://smrs.slu.edu/images/2016_SMRS_logo_website.png" alt="SMRS logo"/>
</a>
<a class="btn btn-primary btn-lg" href="http://smrs.slu.edu/schedule.html" target="_blank">
	<i class="fa fa-calendar"></i> View Schedule
</a>
</div>