<div class="container">
	<h3>Standards</h3>
	<p>
		The Rerum Consortium seeks out consensus great standards for Digital Humanities 
		and illuminates the areas where none seem to exist. Where possible, the membership
		will extend existing models, organize a critical mass of use cases, and map the
		required work for developers and programmers.
	</p>
	<h5>Text</h5>
	<p>
		There have been great strides made in defining interoperable character sets and
		fonts for digital display across many languages. Encoding formatted and annotated
		text has been possible in SGML, XML, HTML, LaTeX, markdown, and others. Standards
		for these formats include TEI, but are not as well defined. This is one of the 
		first areas the Consortium hopes to attack and make these text resources more
		annotatable, referencable, and durable.
	</p>
	<h5>Image</h5>
	<p>
		IIIF is the flagship here. Not only does it serve as a model for other areas, but 
		describes standards for both the presentation and delivery of image-based resources.
		There is still room for improvement regarding the available formats of terminal
		image resources, but there is much to be lauded in the <foreign>status quo</foreign>.
	</p>
	<h5>Audio</h5>
	<p>
		MEI is a start, but there is very little done to extend OAC annotations into the
		realm of audio resoures.
	</p>
	<h5>Video</h5>
	<p>
		None known.
	</p>
	<h5>3D</h5>
	<p>
		None known.
	</p>
</div>